:root {
  --text-color: #ffff;
  --accent-color: #99d8c2;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  background-size: cover;
  margin: 0;
}

.nav-logo, .menu-bar-img {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
}

.navbar {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  text-transform: uppercase;
}

.active {
  font-weight: bold;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  border-radius: 0 0 25px 25px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .navbar {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #333;
  height: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .navbar ul {
  list-style: none;
  padding-left: 0;
  visibility: hidden;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

header .navbar ul li ul {
  display: none;
  position: relative;
  width: 100%;
}

header .navbar ul li ul li {
  background-color: rgba(94, 94, 94, 0.2);
}

header .navbar ul li a {
  text-decoration: none;
  font-size: 0.9em;
  padding: 20px;
  display: block;
  color: var(--text-color);
}

header .navbar ul li a:hover {
  font-weight: bold;
  background: #3333;
  color: white;
}

header label {
  cursor: pointer;
}

#menu-bar:checked ~ .navbar {
  height: 100vh;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#menu-bar:checked ~ .navbar ul {
  visibility: visible;
}

#menu-bar {
  display: none;
}

.button-nav {
  position: fixed;
  bottom: 0;
  margin-bottom: 60px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
}

.button-nav .menu__item img {
  width: 90px;
  height: 90px;
}

.button-nav .menu__item .menu__product {
  top: 70%;
}

.bot-nav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: auto;
  margin: 0 0 0 0;
  border-radius: 25px 25px 0 0;
  z-index: 1001;
}

.bot-nav .bot-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.bot-nav .pull-nav {
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

.bot-nav .pull-nav a {
  font-size: small;
}

.bot-nav .fa {
  color: white;
  padding: 15px 1.3em;
  font-size: 20px;
}

.bot-nav .fa:hover {
  background: none;
  opacity: 0.7;
}

.bot-nav .map-address-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-inline: 10px;
}

.bot-nav .map-address-wrapper .map {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.bot-nav .map-address-wrapper .map img {
  width: 85%;
  border-radius: 10px;
}

.bot-nav .map-address-wrapper p {
  color: var(--text-color);
  margin: 0;
  padding: 15px;
  font-size: 0.5em;
  width: 300%;
}

.bot-nav .socmed-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bot-nav .socmed-wrap p {
  color: var(--text-color);
  font-size: 0.6em;
  margin: 0;
}

.bg-slider {
  background-image: url(../image/bg.jpg), url(../image/bg1.jpg), url(../image/bg2.jpg), url(../image/bg3.jpg), url(../image/bg4.jpg), url(../image/bg5.jpg), url(../image/bg6.jpg), url(../image/bg7.jpg), url(../image/bg8.jpg), url(../image/bg9.jpg), url(../image/bg10.jpg), url(../image/bg11.jpg), url(../image/bg12.jpg), url(../image/bg13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  -webkit-animation: slide 80s infinite 0s;
          animation: slide 80s infinite 0s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  padding: 0;
}

.bg-slider .bg-images {
  -webkit-animation: slide 2s;
          animation: slide 2s;
}

@-webkit-keyframes slide {
  0% {
    background-image: url("../image/bg.jpg");
  }
  10% {
    background-image: url("../image/bg1.jpg");
  }
  20% {
    background-image: url("../image/bg2.jpg");
  }
  30% {
    background-image: url("../image/bg3.jpg");
  }
  40% {
    background-image: url("../image/bg4.jpg");
  }
  50% {
    background-image: url("../image/bg5.jpg");
  }
  60% {
    background-image: url("../image/bg6.jpg");
  }
  70% {
    background-image: url("../image/bg7.jpg");
  }
  75% {
    background-image: url("../image/bg8.jpg");
  }
  80% {
    background-image: url("../image/bg9.jpg");
  }
  85% {
    background-image: url("../image/bg10.jpg");
  }
  90% {
    background-image: url("../image/bg11.jpg");
  }
  95% {
    background-image: url("../image/bg12.jpg");
  }
  100% {
    background-image: url("../image/bg13.jpg");
  }
}

@keyframes slide {
  0% {
    background-image: url("../image/bg.jpg");
  }
  10% {
    background-image: url("../image/bg1.jpg");
  }
  20% {
    background-image: url("../image/bg2.jpg");
  }
  30% {
    background-image: url("../image/bg3.jpg");
  }
  40% {
    background-image: url("../image/bg4.jpg");
  }
  50% {
    background-image: url("../image/bg5.jpg");
  }
  60% {
    background-image: url("../image/bg6.jpg");
  }
  70% {
    background-image: url("../image/bg7.jpg");
  }
  75% {
    background-image: url("../image/bg8.jpg");
  }
  80% {
    background-image: url("../image/bg9.jpg");
  }
  85% {
    background-image: url("../image/bg10.jpg");
  }
  90% {
    background-image: url("../image/bg11.jpg");
  }
  95% {
    background-image: url("../image/bg12.jpg");
  }
  100% {
    background-image: url("../image/bg13.jpg");
  }
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.about-container .about-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 10px 0 0 0;
  -webkit-box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-left: solid #333;
  border-right: solid #333;
  width: 90%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container .about-banner ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  width: 100%;
}

.about-container .about-banner ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container .about-banner ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container .about-banner ul li a .bio-logo {
  height: 50px;
  width: auto;
  padding-block: 20px;
}

.about-container .about-banner ul li a .bio-logo:hover {
  height: 60px;
  -webkit-transition: .2s;
  transition: .2s;
}

.about-container .about-banner ul li a .elgatama-logo {
  height: 100px;
  width: auto;
}

.about-container .about-banner ul li a .elgatama-logo:hover {
  height: 120px;
  -webkit-transition: .2s;
  transition: .2s;
}

.about-container .about-banner ul li p {
  text-align: center;
  padding: 0 10px 10px 10px;
  margin: 0;
}

.job-listing-head {
  margin-top: 80px;
  margin-left: 20px;
  font-style: italic;
}

.job-listing_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.job-listing_container .sub-job-listing_container {
  padding: 1em 0 1em 0;
  margin: 10px 10px 0 10px;
  -webkit-box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-width: 0 0 0 10px;
}

.job-listing_container .sub-job-listing_container ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0.3em 0 0 0;
}

.job-listing_container .sub-job-listing_container ul li {
  margin: 0 1.5em 0 1.5em;
}

.job-listing_container .sub-job-listing_container .job-listing-department {
  font-size: small;
  color: var(--accent-color);
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job-listing_container .sub-job-listing_container .job-listing-desc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: unset;
  font-size: small;
  margin: 10px 10px 10px 10px;
  opacity: 0.8;
  display: none;
}

.job-listing_container .sub-job-listing_container:hover .job-listing-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job-listing_container .sub-job-listing_container .job-listing-info {
  font-size: smaller;
  opacity: 0.5;
}

.help-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.help-container .help-text {
  text-align: center;
}

.help-container .help-text h1 {
  font-size: 130%;
  font-weight: unset;
  margin: 0;
}

.help-container .help-text p {
  font-size: 80%;
  margin: 0;
  margin-bottom: 15px;
}

.help-container .help-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-container .help-link-wrapper .help-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.help-container .help-link-wrapper .help-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-container .help-link-wrapper .help-link a img {
  width: 50%;
}

.help-container .help-link-wrapper .help-link #help-nama, .help-container .help-link-wrapper .help-link #help-department {
  font-size: 45%;
  margin: 0;
}

.help-container .help-link-wrapper .help-link #help-nama {
  font-weight: bold;
  padding-top: 5px;
}

.about-elgatama {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-elgatama .elgatama-text {
  margin-bottom: 50px;
  padding-inline: 10%;
}

.about-elgatama .elgatama-text h1 {
  font-weight: bold;
  text-align: center;
}

.about-elgatama .elgatama-text p, .about-elgatama .elgatama-text li {
  font-size: .8em;
  text-align: justify;
}

.about-elgatama .elgatama-text p#sub {
  text-align: center;
  font-weight: bold;
}

.about-elgatama .multisera-map {
  padding-inline: 10%;
}

.about-elgatama .multisera-map img {
  width: 100%;
}

.about-elgatama #multisera {
  margin-bottom: 0;
}

.about-elgatama .multisera-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-elgatama .multisera-group img {
  width: 80%;
}

.banner-container {
  overflow: hidden;
  margin-top: 80px;
  background: white;
  position: relative;
}

.banner-container .about-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 180px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-container .elgatama-pict {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-container .elgatama-pict img {
  width: auto;
  height: 100%;
  padding: 5px;
  background: white;
  border-radius: 100px;
}

.event-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0;
}

.event-container .event-slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding-inline: 30px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event-container .event-slideshow-container .eventSlide1, .event-container .event-slideshow-container .eventSlide2, .event-container .event-slideshow-container .eventSlide3 {
  display: none;
  height: 70%;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

.event-container .event-slideshow-container .eventSlide1 img, .event-container .event-slideshow-container .eventSlide2 img, .event-container .event-slideshow-container .eventSlide3 img {
  vertical-align: middle;
  height: 100%;
  margin-inline: auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.event-container .event-slideshow-container .desc-event {
  position: absolute;
  left: 5%;
  bottom: 5vh;
}

.event-container .event-slideshow-container .desc-event #event-title {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.event-container .event-slideshow-container .desc-event .event-info {
  font-size: x-small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event-container .prev, .event-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: black;
  color: #f1f1f1;
  opacity: .4;
}

.event-container .prev:hover, .event-container .next:hover {
  background-color: #f1f1f1;
  color: black;
  opacity: .7;
}

.event-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.event-container .prev {
  left: 0;
}

.product-index-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.product-index-text .instruments-link-cont, .product-index-text .reagents-link-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-index-text .instruments-link-cont a, .product-index-text .reagents-link-cont a {
  font-family: sans-serif;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-decoration: none;
  padding: 30px;
  margin: 0;
  font-size: xx-large;
}

.product-index-text .instruments-link-cont a:hover, .product-index-text .reagents-link-cont a:hover {
  font-style: italic;
  -webkit-transition: .2s;
  transition: .2s;
}

.product-index-text .product-mid h1 {
  font-family: sans-serif;
  font-weight: bold;
  margin-block: 10px;
}

.product-index-text .product-mid p {
  font-size: x-small;
  margin: 0;
}

.product-index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.product-index-container .instrument-bg, .product-index-container .reagents-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 90px;
  height: 100%;
  overflow: hidden;
}

.product-index-container .instrument-bg img, .product-index-container .reagents-bg img {
  width: auto;
  height: 300px;
}

.product-index-container .instrument-bg {
  padding-right: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-index-container .reagents-bg {
  padding-left: 70px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (min-width: 680px) {
  .button-nav {
    position: fixed;
    top: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
  .button-nav .menu__item {
    margin: auto;
  }
  .button-nav .menu__item:before {
    content: attr(data-hover);
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: red;
    font-weight: bold;
    text-decoration: none;
    width: 8.6em;
    height: 10.5em;
    position: absolute;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button-nav .menu__item:hover:before {
    opacity: 1;
  }
  .button-nav .menu__item img {
    height: 8.6em;
    width: 8.6em;
  }
  .bot-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bot-nav .map-address-wrapper {
    padding-inline: 3%;
  }
  .bot-nav .map-address-wrapper p {
    font-size: 0.7em;
  }
  .bot-nav .socmed-wrap {
    padding-inline: 3%;
  }
  .bot-nav .socmed-wrap .bot-wrapper {
    margin: 0;
  }
  .help-container .help-text {
    text-align: center;
  }
  .help-container .help-link-wrapper .help-link a img {
    width: 50%;
  }
  .help-container .help-link-wrapper .help-link #help-nama, .help-container .help-link-wrapper .help-link #help-department {
    font-size: 70%;
  }
  .help-container .help-link-wrapper .help-link #help-nama {
    font-weight: unset;
    padding-top: 5px;
  }
  .banner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-container .about-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 250px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-elgatama .multisera-group img {
    width: 50%;
  }
  .event-container .event-slideshow-container .eventSlide1, .event-container .event-slideshow-container .eventSlide2, .event-container .event-slideshow-container .eventSlide3 {
    width: 100%;
  }
  .event-container .event-slideshow-container .eventSlide1 img, .event-container .event-slideshow-container .eventSlide2 img, .event-container .event-slideshow-container .eventSlide3 img {
    height: auto;
    width: 100%;
    -webkit-transform: unset;
            transform: unset;
    margin: unset;
  }
  .event-container .event-slideshow-container .desc-event {
    color: white;
    bottom: 25vh;
  }
}

@media only screen and (min-width: 900px) {
  label {
    display: none;
  }
  .nav-logo, .menu-bar-img {
    width: 40px;
    height: 40px;
  }
  header .navbar {
    display: unset;
    position: unset;
    height: unset;
  }
  header .navbar ul {
    visibility: visible;
    margin: 0;
  }
  header .navbar ul li {
    position: relative;
    float: left;
  }
  header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    padding: 0;
    background: #333;
  }
  header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  #menu-bar:checked ~ .navbar {
    height: unset;
  }
  .bot-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bot-nav .map-address-wrapper p {
    font-size: 0.8em;
  }
  .bot-nav .socmed-wrap .bot-wrapper {
    margin: 0;
  }
  .help-container .help-link-wrapper {
    margin-inline: 20%;
  }
  .about-elgatama {
    margin-top: 60px;
  }
  .about-elgatama .elgatama-text {
    padding-inline: 5%;
    margin-bottom: 75px;
  }
  .about-elgatama .elgatama-text p, .about-elgatama .elgatama-text li {
    line-height: 1.4em;
    font-size: 1em;
  }
}
/*# sourceMappingURL=main.css.map */