:root {
    --text-color: #ffff;
    --accent-color: #99d8c2;
}

body {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    // background-color: white;
    background-size: cover;
    margin: 0;
}

.nav-logo, .menu-bar-img {
    width: 35px;height: 35px;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.navbar {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}

.active {
    font-weight: bold;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #333;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.1);
    padding: 0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-radius: 0 0 25px 25px;
    transition: 0.1s;

    .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #333;
        // border-top: 1px solid rgba($color: #000000, $alpha: .1);
        // display: none;
        height: 0;
        transition: 0.1s;

        ul {
            list-style: none;
            padding-left: 0;
            visibility: hidden;
            li {
                // width: 100%;
                &:focus-within>ul,
                &:hover > ul{
                    display: initial;
                }
                ul {
                    display: none;
                    position: relative;
                    width: 100%;
                    li {
                        background-color: rgba(94, 94, 94, 0.2);
                    }
                }
                a {
                    text-decoration: none;
                    font-size: 0.9em;
                    padding: 20px;
                    display: block;
                    color: var(--text-color);

                    &:hover {
                        font-weight: bold;
                        background: #3333;
                        color: white;
                    }
                }
            }
        }
    }

    label {
        cursor: pointer;
    }
}

#menu-bar:checked ~ .navbar{
    // display: initial;
    height: 100vh;
    transition: 0.2s;
    // -webkit-animation: fadeIn 1s;
    // animation: fadeIn 1s;
    ul {
        visibility: visible;
    }
}

// @-webkit-keyframes fadeIn {
//     from { opacity: 0; }
//       to { opacity: 1; }
// }
// @keyframes fadeIn {
//     from { opacity: 0; }
//       to { opacity: 1; }
// }


#menu-bar {
    display: none;
}

.button-nav{
    position: fixed;
    top: 70%;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    
    .menu__item {
        img{
            width: 90px;height: 90px;
        }
        .menu__product {
            top: 70%;
        }
    }
}


.bot-nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin: 0 0 0 0;
    border-radius: 25px 25px 0 0;
    z-index: 1001;
    
    .bot-wrapper {
      display: flex;
      justify-content: space-between;
      margin: auto;
    }
  
    .pull-nav {
      color: white;
      text-align: center;
      padding: 0;
      margin: 0;
      a {
        font-size: small;
      }
    }
  
    .fa {
      color: white;
      padding: 15px 1.3em;
      font-size: 20px;
      
      &:hover {
        background: none;
        opacity: 0.7;
      }
    }

    .map-address-wrapper {
        display: flex;
        flex-direction: row;
        padding-inline: 10px;
        .map {
            display: inherit;
            justify-content: center;
            align-items: center;
            padding: 15px;
            // flex-shrink: 2;
            img {
                width: 85%;
                border-radius: 10px;
            }
        }
        
        p {
            color: var(--text-color);
            margin: 0;
            padding: 15px;
            font-size: 0.5em;
            width: 300%;
        }
    }
    .socmed-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            color: var(--text-color);
            font-size: 0.6em;
            margin: 0;
        }

    }
}


.bg-slider {
    background-image: url(../image/bg.jpg), url(../image/bg1.jpg), url(../image/bg2.jpg), url(../image/bg3.jpg),
    url(../image/bg4.jpg), url(../image/bg5.jpg),url(../image/bg6.jpg), url(../image/bg7.jpg),url(../image/bg8.jpg), 
    url(../image/bg9.jpg),url(../image/bg10.jpg), url(../image/bg11.jpg),url(../image/bg12.jpg), url(../image/bg13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 80s infinite 0s;
    animation-timing-function: ease-in-out;
    padding: 0;
    .bg-images {
        animation: slide 2s;
    }
}
@keyframes slide {
    0% {
        background-image: url('../image/bg.jpg');
    }
    10% {
        background-image: url('../image/bg1.jpg');
    }
    20% {
        background-image: url('../image/bg2.jpg');
    }
    30% {
        background-image: url('../image/bg3.jpg');
    }
    40% {
        background-image: url('../image/bg4.jpg');
    }
    50% {
        background-image: url('../image/bg5.jpg');
    }
    60% {
        background-image: url('../image/bg6.jpg');
    }
    70% {
        background-image: url('../image/bg7.jpg');
    }
    75% {
        background-image: url('../image/bg8.jpg');
    }
    80% {
        background-image: url('../image/bg9.jpg' );
    }
    85% {
        background-image: url('../image/bg10.jpg');
    }
    90% {
        background-image: url('../image/bg11.jpg');
    }
    95% {
        background-image: url('../image/bg12.jpg');
    }
    100% {
        background-image: url('../image/bg13.jpg');
    }
}

.about-container {
    display: flex;
    // position: absolute;
    top: 20%;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .about-banner {
        display: flex;
        padding: 0;
        margin: 10px 0 0 0 ;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border-left: solid #333;
        border-right: solid #333;
        // border-width: 0 0 0 10px;
        width: 90%;
        align-content: center;
        justify-content: center;

        ul {
            list-style-type: none;
            padding: 10px;
            margin: 0;
            width: 100%;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .bio-logo {
                        width: 60%;height: 60%;
                        &:hover {
                            width: 70%;height: 70%;
                            transition: .2s;
                        }   
                    }
                    .elgatama-logo{
                        width: 40%;height: 40%; 
                        &:hover {
                            width: 50%;height: 50%;
                            transition: .2s;
                        }
                    }
                }
                p {
                    text-align: center;
                    padding: 0 10px 10px 10px;
                    margin: 0;
                }
            }
        }
    }
    
}

.job-listing-head {
    margin-top: 80px;
    margin-left: 20px;
    font-style: italic;
}

.job-listing_container {
    display: flex;
    flex-direction: column;
    .sub-job-listing_container {
        padding: 1em 0 1em 0;
        // background-color: rgb(245, 245, 245);
        margin: 10px 10px 0 10px ;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border-width: 0 0 0 10px;
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0.3em 0 0 0;
            li {
              margin: 0 0 0 1.5em;
            }
          }

        .job-listing-department {
            font-size: small;
            color: var(--accent-color);
            font-weight: bold;
        }

        .job-listing-desc {
            flex-direction: column;
            list-style-type: unset;
            font-size: small;
            margin: 10px 10px 10px 10px;
            opacity: 0.8;
            display: none;
        }
        &:hover {
            .job-listing-desc {
                display: flex;
            }
        }

        .job-listing-info {
            font-size: smaller;
            opacity: 0.5;
        }
    }
}

.help-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    .help-text {
        text-align: center;
        h1{
            font-size: 130%;
            font-weight: unset;
            margin: 0;
        }
        p {
            font-size: 80%;
            margin: 0;
            margin-bottom: 15px;
        }
    }

    .help-link-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .help-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            a {             //create a new wrapper for this so it wont be as big
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    
                    width: 50%;
                }
            }
            #help-nama,#help-department {
                font-size: 45%;
                margin: 0;
            }
            #help-nama {
                font-weight: bold;
                padding-top: 5px;
            }
        }
    }
}

.about-elgatama {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .elgatama-pict {
        display: inherit;
        justify-content: center;
        img {
            width: 50%;
        }
    }
    .elgatama-text {
        margin-bottom: 50px;
        padding-inline: 10%;
        h1{
            font-weight: bold;
            text-align: center;
        }
        p,li {
            font-size: .8em;
            text-align: justify;
        }
        p#sub {
            text-align: center;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: 680px) {
    .button-nav {
        position: absolute;
        top: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        .menu__item {
            margin: auto;
            &:before {
                content: attr(data-hover);
                opacity: 0;
                display: flex;
                text-align: center;
                color: black;
                font-weight: bold;
                text-decoration: none;
                width: 8.6em;
                height: 10.5em;

                position: absolute;
                align-items: flex-end;
                justify-content: center;
            }
            &:hover:before {
                opacity: 1;
            }

            img {
                height: 8.6em;width: 8.6em;
            }
        }
    }
    .about-container {
        .about-banner {
            ul {
                li {
                    a,img {
                        width: 50%;height: 30%;
                    }
                }
            }
        }
    }
    .bot-nav {
        flex-direction: row;
        .map-address-wrapper {
            padding-inline: 3%;
            p {
                font-size: 0.7em;
            }
        }
        .socmed-wrap {
            padding-inline: 3%;
            .bot-wrapper {
                margin: 0;
            }
        }
    }

    .help-container {
        .help-text {
            text-align: center;
       
        }
        .help-link-wrapper {
            .help-link {     
                a {             //create a new wrapper for this so it wont be as big
                    img {
                        width: 50%;
                    }
                }
                #help-nama,#help-department {
                    font-size: 70%;
              
                }
                #help-nama {
                    font-weight: unset;
                    padding-top: 5px;
                }
            }
        }
    }
}



@media only screen and (min-width: 900px) {
    label {
        display: none;
    }

    .nav-logo, .menu-bar-img {
        width: 40px;height: 40px;
    }


    header .navbar {
        display: unset;
        position: unset;
        height: unset;
        ul {
            visibility: visible;
            margin: 0;

            li {
                position: relative;
                float: left;
                ul {
                    position: absolute;
                    left: 0;
                    width: 200px;
                    padding: 0;
                    background: #333;
                    

                    li {
                        width: 100%;
                        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
                    }
                }
            }
        }
    }

    #menu-bar:checked ~ .navbar{
        height: unset;
    }
    
    .about-container {
        .about-banner {
            ul {
                li {
                    a,img {
                        width: 30%;height: 30%;
                    }
                }
            }
        }
    }
    .bot-nav {
        flex-direction: row;
        .map-address-wrapper {
            p {
                font-size: 0.8em;
            }
        }
        .socmed-wrap {
            .bot-wrapper {
                margin: 0;
            }
        }
    }

    .help-container { 
       .help-link-wrapper {
            margin-inline: 20%;
        }
    }

    .about-elgatama {
        margin-top: 60px;
        .elgatama-text {
            padding-inline: 5%;
            margin-bottom: 75px;
            p,li {
                line-height: 1.4em;
                font-size: 1em;
            }
        }
    }


}


