:root {
    --text-color: #ffff;
    --accent-color: #99d8c2;
}

body {
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    margin: 0;
}

.nav-logo, .menu-bar-img {
    width: 35px;height: 35px;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.navbar {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #333;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-radius: 0 0 25px 25px;

    .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #333;
        border-top: 1px solid rgba($color: #000000, $alpha: .1);
        display: none;

        ul {
            list-style: none;
            padding-left: 0;
            li {
                // width: 100%;
                &:focus-within>ul,
                &:hover > ul{
                    display: initial;
                }
                ul {
                    display: none;
                    position: relative;
                    width: 100%;
                    li {
                        background-color: rgba(94, 94, 94, 0.2);
                    }
                }
                a {
                    text-decoration: none;
                    font-size: 0.9em;
                    padding: 20px;
                    display: block;
                    color: var(--text-color);

                    &:hover {
                        font-weight: bold;
                        background: #3333;
                        color: white;
                    }
                }
            }
        }
    }

    label {
        cursor: pointer;
    }
}

#menu-bar:checked ~ .navbar{
    display: initial;
    // -webkit-animation: fadeIn 1s;
    // animation: fadeIn 1s;
}

// @-webkit-keyframes fadeIn {
//     from { opacity: 0; }
//       to { opacity: 1; }
// }
// @keyframes fadeIn {
//     from { opacity: 0; }
//       to { opacity: 1; }
// }


#menu-bar {
    display: none;
}


.bot-nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin: 0 0 0 0;
    border-radius: 25px 25px 0 0;
    
    .bot-wrapper {
      display: flex;
      justify-content: space-between;
      margin: auto;
    }
  
    .pull-nav {
      color: white;
      text-align: center;
      padding: 0;
      margin: 0;
      a {
        font-size: small;
      }
    }
  
    .fa {
      color: white;
      padding: 15px 1.3em;
      font-size: 20px;
      
      &:hover {
        background: none;
        opacity: 0.7;
      }
    }
}


.bg-slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 50s infinite 0s;
    animation-timing-function: ease-in-out;
    padding: 0;
    .bg-images {
        animation: slide 2s;
    }
}
@keyframes slide {
    0% {
        background-image: url('../image/bg.jpg');
    }
    10% {
        background-image: url('../image/bg1.jpg');
    }
    20% {
        background-image: url('../image/bg2.jpg');
    }
    30% {
        background-image: url('../image/bg3.jpg');
    }
    40% {
        background-image: url('../image/bg4.jpg');
    }
    50% {
        background-image: url('../image/bg5.jpg');
    }
    60% {
        background-image: url('../image/bg6.jpg');
    }
    70% {
        background-image: url('../image/bg7.jpg');
    }
    75% {
        background-image: url('../image/bg8.jpg');
    }
    80% {
        background-image: url('../image/bg9.jpg' );
    }
    85% {
        background-image: url('../image/bg10.jpg');
    }
    90% {
        background-image: url('../image/bg11.jpg');
    }
    95% {
        background-image: url('../image/bg12.jpg');
    }
    100% {
        background-image: url('../image/bg13.jpg');
    }
}

@media only screen and (min-width: 900px) {
    label {
        display: none;
    }

    .nav-logo, .menu-bar-img {
        width: 40px;height: 40px;
    }

    header .navbar {
        display: unset;
        position: unset;
        ul {
            margin: 0;

            li {
                position: relative;
                float: left;
                ul {
                    position: absolute;
                    left: 0;
                    width: 200px;
                    padding: 0;
                    background: #333;

                    li {
                        width: 100%;
                        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
                    }
                }
            }
        }
    }

}


